*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header e nav */
header{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    
    
}
nav{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    color: white;
    line-height: 50px;
    
}



 
 .nav-logo img{
    width: 100px;
    height: 50px;
    

 }
 .nav-button div{
    
    color: black;
    display: inline;
    background-color:white;
    border-radius: 30px;
    padding: 8px;
 }
    
    
 


/* sections header */
/* h1-paragraph-button */

 h1,.header-text {
    padding: 20px;
}
h1{
    font-size:2.5rem;
}
 
.header-container{
    text-align: center;
    width: 60%;
    height: 320px;
    margin: auto;
    color: white;
    
   
 }
 
.header-text{
    padding-bottom: 50px;
}

 .header-button1{
    background-color: white;
    color: black;
 }
 .header-button2{
    background-color: black;
    
 }

 .button{
    display: inline;
    padding: 15px;
    
    margin: 20px;
    border-radius: 30px;
    
 }
 
 /* section1-main */
 

.sec1{
    
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
    
    
}

.img-sec1{
display: flex;
flex-basis: 65%;
justify-content: flex-end;

}

.img-sec1 img {
    
    width: 550px;
    height: 450px;
    margin-right: 30px;
   
    }

.text-sec1{
    flex-basis: 35%;
    margin-right: 200px;
}

.text-sec1 h2{
    font-size: 2.5rem;
    padding-top: 80px;
}

.text-sec1 div{
    font-size: 1.2rem;
    padding-top: 40px;
    
}
/* section2-main */

.sec2{

    background-color: rgb(249, 242, 242);
}

.img-sec2{
    order: 2;

}

.text-sec2{
    order: 1;
    margin-left: 200px;

}

.img-sec2 img {
    
    width: 550px;
    height: 450px;
    margin-right: 200px;
   
    }

.text-sec2 h2{

    font-size: 2.5rem;
    padding-top: 60px;
    
    }    
    
    .text-sec2 div{
    
    padding-top: 40px;
    font-size: 1.2rem;  
    }    

    


/* section3-main */
 


/*section-main4 */

 .sec4{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(196, 65, 65);
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    
 }
 .sec4-text,.sec4-img2,.sec4-button{
    padding: 30px;
 }



 

/* footer */
/* column-container */
footer{
    background-color: black;
}
.column-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    
    
}
.col1{
    flex-basis: 30%;
    width: 100px;
    height: 400px;
    background-color: blue;
    text-align: center;

}
.col2{
    display: flex;
    flex-basis: 70%;
    background-color: aqua;
    height: 400px;
    
}
.col{
    width: calc(100% / 4);
    background-color: rgb(159, 203, 55);
    height: 400px;
    

}





/* banner-footer */

.banner-container{
    display: flex;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(55, 196, 196);
    justify-content: space-between;
    margin-top: 10px;

}













 


